/* style.css */
html, body {
    height: 85%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

  
.logo img {
    width: 80px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }

.navbar-toggle {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.navbar {
    display: none;
    background-color: #333;
    padding: 10px;
}

.close-icon {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.card-group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74vh;
}

.card {
    margin: 0 10px;
}

.collections {
    background-color: #f4f4f4;
    padding: 20px;
}

.content {
    max-width: 800px;
    margin: auto;
}

h2 {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.f-design-txt {
    font-size: 14px;
}
